@font-face {
    font-family: 'TT Lakes r';
    src: url('/Font/TTLakes-Regular.eot');
    src: local('TT Lakes Compressed Bold'), local('TTLakesCompressed-Medium'),
    url('Font/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('Font/TTLakes-Regular.woff') format('woff'),
    url('Font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin:0;
    font-family: "TT Lakes", "sans-serif";
}
.buttons {
    min-width: 40px;
    min-height: 40px;
    border:none;
    background-color: #fff;
    cursor:pointer;
    background-repeat: no-repeat;
    margin-left: 24px;
    margin-top: 15px;
}
.asideBar {
    width: 320px;
    height: 1024px;
    box-shadow: -2px 0 4px rgba(69, 79, 126, 0.02), 16px 0 52px rgba(14, 24, 80, 0.2);
}
.side-menu {
    display:flex;
    align-items: center;
}
.search-button {
    margin-left:auto;
    margin-right: 24px;
}
.header-main__logo {
    margin-left: 16px;
    margin-top: 18px;
}
.cross-button {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M13.7935 12.2571C13.403 11.8666 12.7698 11.8666 12.3793 12.2571L12.2571 12.3793C11.8666 12.7698 11.8666 13.403 12.2571 13.7935L18.4636 20L12.2571 26.2065C11.8666 26.597 11.8666 27.2302 12.2571 27.6207L12.3793 27.7429C12.7698 28.1334 13.403 28.1334 13.7935 27.7429L20 21.5364L26.2065 27.7429C26.597 28.1334 27.2302 28.1334 27.6207 27.7429L27.7429 27.6207C28.1334 27.2302 28.1334 26.597 27.7429 26.2065L21.5364 20L27.7429 13.7935C28.1334 13.403 28.1334 12.7698 27.7429 12.3793L27.6207 12.2571C27.2302 11.8666 26.597 11.8666 26.2065 12.2571L20 18.4636L13.7935 12.2571Z' fill='white'/%3E%3C/svg%3E");
}
.search-button {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.5006 22.0006H22.7106L22.4306 21.7306C23.6306 20.3306 24.2506 18.4206 23.9106 16.3906C23.4406 13.6106 21.1206 11.3906 18.3206 11.0506C14.0906 10.5306 10.5306 14.0906 11.0506 18.3206C11.3906 21.1206 13.6106 23.4406 16.3906 23.9106C18.4206 24.2506 20.3306 23.6306 21.7306 22.4306L22.0006 22.7106V23.5006L26.2606 27.7506C26.6706 28.1606 27.3306 28.1606 27.7406 27.7506L27.7506 27.7406C28.1606 27.3306 28.1606 26.6706 27.7506 26.2606L23.5006 22.0006ZM17.5006 22.0006C15.0106 22.0006 13.0006 19.9906 13.0006 17.5006C13.0006 15.0106 15.0106 13.0006 17.5006 13.0006C19.9906 13.0006 22.0006 15.0106 22.0006 17.5006C22.0006 19.9906 19.9906 22.0006 17.5006 22.0006Z' fill='white'/%3E%3C/svg%3E ");
}
.main-side {
    list-style: none;
    padding:0;
    /*margin-left: 24px;*/
}
.main-side__item {
    margin-bottom: 32px;
}
.main-side__item_focus {
    text-decoration: none;
    color:#1B1C21;
    padding-left: 24px;
}
.main-side__item:first-child {
    margin-top: 51px;
}
.main-side__item_focus:hover {
    color: #7E7E82;
    background: url("Img/light_side.svg") no-repeat;
    padding-left: 24px;
    height: 32px;
}
