@font-face {
    font-family: 'TT Lakes';
    src: url('Font/TTLakes-ExtraBold.eot');
    src: local('TT Lakes Compressed Bold'), local('TTLakesCompressed-Medium'),
    url('Font/TTLakes-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Font/TTLakes-ExtraBold.woff') format('woff'),
    url('Font/TTLakes-ExtraBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'TT Lakes r';
    src: url('/Font/TTLakes-Regular.eot');
    src: local('TT Lakes Compressed Bold'), local('TTLakesCompressed-Medium'),
    url('Font/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('Font/TTLakes-Regular.woff') format('woff'),
    url('Font/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    min-width: 320px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    min-width: 320px;
    background: #fff;
    border-bottom: 1px solid #D9FFF5;
}
.header-main {
    display: flex;
    align-items: center;
    margin: 0;
    background: none;
    height: 88px;
    width: 100%;
    min-width: inherit;
}
.header-main__item {
    display:flex;
    min-width: 40px;
    min-height: 40px;
    border:none;
    background-color: #fff;
    cursor:pointer ;
    background-repeat: no-repeat ;
}

.header-main__item:last-child {
  margin-right: 40px;
}
.header-main__item--burger {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11 13C11 12.4477 11.4477 12 12 12H28C28.5523 12 29 12.4477 29 13C29 13.5523 28.5523 14 28 14H12C11.4477 14 11 13.5523 11 13ZM11 20C11 19.4477 11.4477 19 12 19H20C20.5523 19 21 19.4477 21 20C21 20.5523 20.5523 21 20 21H12C11.4477 21 11 20.5523 11 20ZM12 26C11.4477 26 11 26.4477 11 27C11 27.5523 11.4477 28 12 28H24C24.5523 28 25 27.5523 25 27C25 26.4477 24.5523 26 24 26H12Z' fill='white'/%3E%3C/svg%3E%0A");

}
.header-main__item--call {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7602 23.25L15.3002 22.96C15.9102 22.89 16.5102 23.1 16.9402 23.53L18.7802 25.37C21.6102 23.93 23.9302 21.62 25.3702 18.78L23.5202 16.93C23.0902 16.5 22.8802 15.9 22.9502 15.29L23.2402 12.77C23.3602 11.76 24.2102 11 25.2302 11H26.9602C28.0902 11 29.0302 11.94 28.9602 13.07C28.4302 21.61 21.6002 28.43 13.0702 28.96C11.9402 29.03 11.0002 28.09 11.0002 26.96V25.23C10.9902 24.22 11.7502 23.37 12.7602 23.25Z' fill='white'/%3E%3C/svg%3E%0A");
    margin-left: auto;
}
.header-main__item--chat {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12C10.9 11 10.01 11.9 10.01 13L10 31L14 26H28C29.1 26 30 25.1 30 24V13C30 11.9 29.1 11 28 11ZM21 22H15C14.45 22 14 21.55 14 21C14 20.45 14.45 20 15 20H21C21.55 20 22 20.45 22 21C22 21.55 21.55 22 21 22ZM25 17H15C14.45 17 14 16.55 14 16C14 15.45 14.45 15 15 15H25C25.55 15 26 15.45 26 16C26 16.55 25.55 17 25 17Z' fill='white'/%3E%3Cmask id='mask0_0_1880' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='10' y='11' width='20' height='20'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12C10.9 11 10.01 11.9 10.01 13L10 31L14 26H28C29.1 26 30 25.1 30 24V13C30 11.9 29.1 11 28 11ZM21 22H15C14.45 22 14 21.55 14 21C14 20.45 14.45 20 15 20H21C21.55 20 22 20.45 22 21C22 21.55 21.55 22 21 22ZM25 17H15C14.45 17 14 16.55 14 16C14 15.45 14.45 15 15 15H25C25.55 15 26 15.45 26 16C26 16.55 25.55 17 25 17Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_0_1880)'%3E%3C/g%3E%3C/svg%3E ");
}
.header-main__item--profile {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath d='M20.5 19C22.9853 19 25 16.9853 25 14.5C25 12.0147 22.9853 10 20.5 10C18.0147 10 16 12.0147 16 14.5C16 16.9853 18.0147 19 20.5 19Z' fill='white'/%3E%3Cpath d='M10.0166 26.6118C9.88693 27.3412 10.5352 28 11.339 28H28.6604C29.4902 28 30.1125 27.3412 29.9829 26.6118C29.2309 22.4 25.0561 20 19.9997 20C14.9433 20 10.7686 22.4 10.0166 26.6118Z' fill='white'/%3E%3C/svg%3E ");

}
.header-main__item--repair {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath d='M18.2581 23.4583L18.6668 23.0494L16.95 21.3322L16.5412 21.7411L16.3368 21.5367C16.0098 21.1687 15.6828 20.9643 15.3558 21.0052C15.1105 21.0052 14.9061 21.1687 14.7426 21.414C14.4973 21.8229 14.62 22.2726 14.6608 22.5588C14.6608 22.6406 14.7017 22.6815 14.7017 22.7632C14.7017 22.8859 14.7017 23.0494 14.4156 23.0903C14.0068 23.213 13.4754 23.3356 12.944 23.6218C12.2082 24.0307 11.7176 24.3987 11.4315 24.7666C9.91902 26.7291 10.0008 28.4055 10.0008 28.4872C10.0008 28.6099 10.0417 28.6917 10.1234 28.7325L11.2271 29.8773C11.3089 29.9591 11.3906 30 11.4724 30C11.4724 30 11.5133 30 11.595 30C12.0038 30 13.4754 29.9182 15.1922 28.569C15.5601 28.2828 15.928 27.7922 16.3368 27.0562C16.623 26.5656 16.7865 26.0341 16.8682 25.5844C16.95 25.2982 17.0726 25.2982 17.1953 25.2982C17.2361 25.2982 17.3179 25.339 17.3996 25.339C17.5631 25.3799 17.7267 25.4208 17.931 25.4208C18.1354 25.4208 18.3398 25.3799 18.5442 25.2573C18.7895 25.0937 18.953 24.8893 18.9939 24.644C19.0347 24.3169 18.8712 23.9898 18.5033 23.7036L18.2581 23.4583Z' fill='white'/%3E%3Cpath d='M26.884 14.8784L28.0188 14.326C28.0609 14.2835 28.1449 14.241 28.1869 14.1986L29.9101 11.8616C30.0362 11.6916 30.0362 11.4367 29.8681 11.3092L28.6913 10.1195C28.5652 9.99199 28.313 9.9495 28.1449 10.077L25.8333 11.8191C25.7913 11.8616 25.7493 11.9041 25.7072 11.989L25.1609 13.1363L21 17.2154L22.7652 19L26.884 14.8784Z' fill='white'/%3E%3Cpath d='M27.8527 23.0448C26.8636 22.0036 25.4393 21.6288 24.0941 22.0036L17.6453 15.1733C17.7244 14.7985 17.764 14.4653 17.764 14.0905C17.764 13.0493 17.3683 12.0081 16.6166 11.2167C15.588 10.0923 14.045 9.71742 12.6207 10.2172C12.5416 10.2588 12.4229 10.3838 12.3833 10.5504C12.3833 10.6753 12.4229 10.8003 12.502 10.9252L14.4406 12.966C14.8758 13.4241 14.8758 14.2154 14.4406 14.6735C14.0054 15.1317 13.2537 15.1317 12.8185 14.6735L10.8799 12.6328C10.7612 12.5495 10.6425 12.5078 10.4843 12.5495C10.3656 12.5495 10.2469 12.6744 10.2073 12.7994C9.73256 14.2571 10.0886 15.8813 11.1173 16.9642C11.8294 17.7555 12.8581 18.172 13.8867 18.172C14.2032 18.172 14.5593 18.1303 14.8758 18.047L21.3642 24.8773C21.0082 26.2933 21.4038 27.7927 22.3533 28.8339C23.105 29.6252 24.0546 30 25.0832 30C25.5184 30 25.914 29.9167 26.3492 29.7918C26.4679 29.7501 26.5866 29.6252 26.6262 29.5002C26.6658 29.3753 26.6262 29.2087 26.5075 29.1254L24.5689 27.0846C24.3711 26.8764 24.2128 26.5432 24.2128 26.21C24.2128 25.8768 24.3315 25.5853 24.5689 25.3354C24.8063 25.0855 25.0832 24.9606 25.3997 24.9606C25.7162 24.9606 25.9932 25.0855 26.2306 25.3354L28.1692 27.3762C28.2879 27.4595 28.4065 27.5011 28.5252 27.5011C28.6439 27.4595 28.7626 27.3762 28.8022 27.2512C28.9209 26.8348 29 26.3766 29 25.9185C29 24.8356 28.6044 23.7944 27.8527 23.0448Z' fill='white'/%3E%3C/svg%3E ");
}
.header-main__item--status {
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 11C12 10.4477 12.4477 9.99998 13 9.99998H27C27.5523 9.99998 28 10.4477 28 11V28.5C27.1716 28.5 26.5 29.1715 26.5 29.9999H25.5C25.4999 29.1715 24.8284 28.5 24 28.5C23.1716 28.5 22.5 29.1715 22.5 29.9999H21.5C21.4999 29.1715 20.8284 28.5 20 28.5C19.1716 28.5 18.5 29.1715 18.5 29.9999H17.5C17.4999 29.1715 16.8284 28.5 16 28.5C15.1716 28.5 14.5 29.1715 14.5 29.9999H13.5C13.4999 29.1715 12.8284 28.5 12 28.5V11ZM21.4163 21.7883C20.5536 22.3443 19.4703 22.5935 18.3296 22.3827C16.5274 22.0472 15.0895 20.5326 14.8595 18.7113C14.4952 15.826 16.9492 13.42 19.8538 13.8801C21.656 14.1677 23.1034 15.6439 23.4006 17.4364C23.5827 18.5484 23.3239 19.574 22.7871 20.4272L24.896 22.5264C25.2699 22.9003 25.2699 23.5138 24.896 23.8876C24.5126 24.271 23.8991 24.271 23.5252 23.8972L21.4163 21.7883ZM16.7058 18.0588C16.7058 16.7599 17.7599 15.7058 19.0588 15.7058C20.3576 15.7058 21.4117 16.7599 21.4117 18.0588C21.4117 19.3576 20.3576 20.4117 19.0588 20.4117C17.7599 20.4117 16.7058 19.3576 16.7058 18.0588Z' fill='white'/%3E%3C/svg%3E ");
}
.header-main__logo {

}
.header__divider {
    border-left:2px solid #EAEAEA;
    height: 32px;
    border-radius: 1px;
    margin-left:16px;
}
.main-con__pc--za {
    background-image: url("data:image/svg+xml, %3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath d='M18.2581 23.4583L18.6668 23.0494L16.95 21.3322L16.5412 21.7411L16.3368 21.5367C16.0098 21.1687 15.6828 20.9643 15.3558 21.0052C15.1105 21.0052 14.9061 21.1687 14.7426 21.414C14.4973 21.8229 14.62 22.2726 14.6608 22.5588C14.6608 22.6406 14.7017 22.6815 14.7017 22.7632C14.7017 22.8859 14.7017 23.0494 14.4156 23.0903C14.0068 23.213 13.4754 23.3356 12.944 23.6218C12.2082 24.0307 11.7176 24.3987 11.4315 24.7666C9.91902 26.7291 10.0008 28.4055 10.0008 28.4872C10.0008 28.6099 10.0417 28.6917 10.1234 28.7325L11.2271 29.8773C11.3089 29.9591 11.3906 30 11.4724 30C11.4724 30 11.5133 30 11.595 30C12.0038 30 13.4754 29.9182 15.1922 28.569C15.5601 28.2828 15.928 27.7922 16.3368 27.0562C16.623 26.5656 16.7865 26.0341 16.8682 25.5844C16.95 25.2982 17.0726 25.2982 17.1953 25.2982C17.2361 25.2982 17.3179 25.339 17.3996 25.339C17.5631 25.3799 17.7267 25.4208 17.931 25.4208C18.1354 25.4208 18.3398 25.3799 18.5442 25.2573C18.7895 25.0937 18.953 24.8893 18.9939 24.644C19.0347 24.3169 18.8712 23.9898 18.5033 23.7036L18.2581 23.4583Z' fill='white'/%3E%3Cpath d='M26.884 14.8784L28.0188 14.326C28.0609 14.2835 28.1449 14.241 28.1869 14.1986L29.9101 11.8616C30.0362 11.6916 30.0362 11.4367 29.8681 11.3092L28.6913 10.1195C28.5652 9.99199 28.313 9.9495 28.1449 10.077L25.8333 11.8191C25.7913 11.8616 25.7493 11.9041 25.7072 11.989L25.1609 13.1363L21 17.2154L22.7652 19L26.884 14.8784Z' fill='white'/%3E%3Cpath d='M27.8527 23.0448C26.8636 22.0036 25.4393 21.6288 24.0941 22.0036L17.6453 15.1733C17.7244 14.7985 17.764 14.4653 17.764 14.0905C17.764 13.0493 17.3683 12.0081 16.6166 11.2167C15.588 10.0923 14.045 9.71742 12.6207 10.2172C12.5416 10.2588 12.4229 10.3838 12.3833 10.5504C12.3833 10.6753 12.4229 10.8003 12.502 10.9252L14.4406 12.966C14.8758 13.4241 14.8758 14.2154 14.4406 14.6735C14.0054 15.1317 13.2537 15.1317 12.8185 14.6735L10.8799 12.6328C10.7612 12.5495 10.6425 12.5078 10.4843 12.5495C10.3656 12.5495 10.2469 12.6744 10.2073 12.7994C9.73256 14.2571 10.0886 15.8813 11.1173 16.9642C11.8294 17.7555 12.8581 18.172 13.8867 18.172C14.2032 18.172 14.5593 18.1303 14.8758 18.047L21.3642 24.8773C21.0082 26.2933 21.4038 27.7927 22.3533 28.8339C23.105 29.6252 24.0546 30 25.0832 30C25.5184 30 25.914 29.9167 26.3492 29.7918C26.4679 29.7501 26.5866 29.6252 26.6262 29.5002C26.6658 29.3753 26.6262 29.2087 26.5075 29.1254L24.5689 27.0846C24.3711 26.8764 24.2128 26.5432 24.2128 26.21C24.2128 25.8768 24.3315 25.5853 24.5689 25.3354C24.8063 25.0855 25.0832 24.9606 25.3997 24.9606C25.7162 24.9606 25.9932 25.0855 26.2306 25.3354L28.1692 27.3762C28.2879 27.4595 28.4065 27.5011 28.5252 27.5011C28.6439 27.4595 28.7626 27.3762 28.8022 27.2512C28.9209 26.8348 29 26.3766 29 25.9185C29 24.8356 28.6044 23.7944 27.8527 23.0448Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display:flex;
    min-width: 40px;
    min-height: 40px;
    border:none;
    background-color: #fff;
    margin-left: 8px;
}
.main-con__pc--rm {
    background-image: url("data:image/svg+xml, %3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='40' height='40' rx='20' fill='%23FF3E79'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 11C12 10.4477 12.4477 9.99998 13 9.99998H27C27.5523 9.99998 28 10.4477 28 11V28.5C27.1716 28.5 26.5 29.1715 26.5 29.9999H25.5C25.4999 29.1715 24.8284 28.5 24 28.5C23.1716 28.5 22.5 29.1715 22.5 29.9999H21.5C21.4999 29.1715 20.8284 28.5 20 28.5C19.1716 28.5 18.5 29.1715 18.5 29.9999H17.5C17.4999 29.1715 16.8284 28.5 16 28.5C15.1716 28.5 14.5 29.1715 14.5 29.9999H13.5C13.4999 29.1715 12.8284 28.5 12 28.5V11ZM21.4163 21.7883C20.5536 22.3443 19.4703 22.5935 18.3296 22.3827C16.5274 22.0472 15.0895 20.5326 14.8595 18.7113C14.4952 15.826 16.9492 13.42 19.8538 13.8801C21.656 14.1677 23.1034 15.6439 23.4006 17.4364C23.5827 18.5484 23.3239 19.574 22.7871 20.4272L24.896 22.5264C25.2699 22.9003 25.2699 23.5138 24.896 23.8876C24.5126 24.271 23.8991 24.271 23.5252 23.8972L21.4163 21.7883ZM16.7058 18.0588C16.7058 16.7599 17.7599 15.7058 19.0588 15.7058C20.3576 15.7058 21.4117 16.7599 21.4117 18.0588C21.4117 19.3576 20.3576 20.4117 19.0588 20.4117C17.7599 20.4117 16.7058 19.3576 16.7058 18.0588Z' fill='white'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    display:flex;
    min-width: 40px;
    min-height: 40px;
    border:none;
    background-color: #fff;
    margin-left: 8px;
}
.main-con__button {
    display: flex;
    align-items: center;
}
.main-title {
    font-size: 26px;
    padding-left: 16px;
    font-family: "TT Lakes", "sans-serif";
    margin-right: auto;
    background: url("Img/highlight.svg") no-repeat;
}
.main-all {
    display: flex;
    border-radius: 6px;
    white-space: nowrap;
    padding: 10px;
    margin-left: 16px;
    color: #7E7E82;
    font-family: "TT Lakes r", "sans-serif";
    overflow-x: auto;
}
.main-all__item:first-child {
    display: flex;
    font-size: 16px;
    border-radius: 6px;
    border: solid #B8FFEC 3px;
    padding: 8px;
    color: #7E7E82;
    font-family: "TT Lakes r", "sans-serif";
}
.main-all__item{
    display: inline-flex;
    font-size: 16px;
    border-radius: 6px;
    padding: 11px;
    margin-left: 16px;
    color: #7E7E82;
    font-family: "TT Lakes r", "sans-serif";
}
p {
    font-family: "TT Lakes r", "sans-serif";
    margin-left: 16px;
}
.main-but__button {
    font-family: "TT Lakes r", "sans-serif";
    font-size: 16px;
    margin-left: 16px;
    font-weight: bold;
    padding: 0;
    border: none;
}
.main-but__icon{
    margin-left: 20px;
}
.main-content__mg {
    margin-top: 10px;
    border-radius: 10px;
}
.main-content__rws {
    font-family: "TT Lakes r", "sans-serif";
    color:#7E7E82;
    margin-left: 56px;
}
.main-con {
    display:flex;
    align-items: center;
    font-family: "TT Lakes r", "sans-serif";
    font-weight: bold;
    margin-top: 32px;
}
.main-con__pc {
    display:flex;
    text-decoration: none;
    align-items: center;
    font-family: "TT Lakes r", "sans-serif";
    font-weight: bold;
    color:#1B1C21;
    margin-right: 32px;
}
.main-content__hr {
    font-family: "TT Lakes r", "sans-serif";
    color: #7E7E82;
    margin-left: 56px;
}
.main-button__icon {
    background:center url("Img/icon.svg") no-repeat;
    height: 24px;
    width: 10px;
    border:none;
    margin-right: 16px;
}
.main-button {
    font-family: "TT Lakes r", "sans-serif";
    font-weight: bold;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
}
.content__picture {
    margin-left: 36px;
    width: 100%;
}
.header-main-logo {
    display:flex;
    align-items:center;
}
.header-main-item {
    display:flex;
    align-items:center;
}
.header-main-item2 {
    display:flex;
}

@media screen and (min-width: 320px) and (max-width: 767px){
.header__divider--first {
    display:none;
}
.header-main__item {
    margin-left: 16px;
}
.header-main__logo {
    margin-left: 16px;
}
.main-con__button {
    display:none;
}
body {
    height:597px;
    overflow: hidden;
}
.main-content__mobile {
    display:none;
}
    .main-content {
        display:flex;
        flex-direction: column;
    }
    .content__picture {
        margin-left: 0;
    }
    .header-main__item:not(:last-child):not(:first-child):not(:nth-last-child(2)){
        display:none;
    }
    .header-main__item--profile {
        display: none;
    }
    .header__divider--third {
        display: none;
    }
    .main-pic {
        max-height: 384px;
        max-width: 532px
    }
    .header-main-logo {
        flex-basis:90%;
    }
    .header-main__item--call {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1120px) {
    .main-con__button {
        display:none;
    }
    .header__divider--second {
        display:none;
    }
    body {
        height: 504px;
        overflow:hidden;
    }
    .header-main__item {
        margin-left: 16px;
    }
    .header-main__logo {
        margin-left: 16px;
        margin-right: auto;
    }
    .main-content__mobile--hidden {
        display:none;
    }
    .main-pic {
        float:right;
        margin-top: 7px;
        min-width: 360px;
        max-width: 532px;
        margin-left: 36px;
    }
    .content__picture {
        border-radius: 5px;
        margin-left: 0;
    }
    .main-content {
        display: flex;
    }
    .main__text {
        margin-left: 8px;
    }
    .header-main-logo {
        flex-basis: 70%;
    }
}
@media screen and (min-width: 1120px) {
    .header {
        display: none;
    }

    body {
        height: 535px;
        width: 1120px;
    }

    .content__picture {
        border-radius: 5px;
        margin-left: 0;
    }

    .main-content {
        display: flex;
    }

    .main-all {
        flex-wrap: wrap;
    }

    .main-all__item--desktop {
        display: none;
    }

    .main__text {
        margin-left: 18px;
    }
    .main-pic {
        min-width: 532px;
        max-width: 532px;
        margin-left: 36px;
    }

}